header {
  font-size: 40px;
  color: #75A48B;
}
#addThemeBtn {
  color: white;
  background-color: #42282E;
}
.themeBtn{
  color: white;
  background-color: #75A48B;
}
.images{
  max-width: 100%;
  height: auto;
  border: 1px solid  #42282E;
}